
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  
  @keyframes fade_in_out {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0.9;
    }
    97% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translate(-50%, 1000px);
              transform: translate(-50%, 1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translate(-50%, 1000px);
              transform: translate(-50%, 1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slide-in-br {
    0% {
      -webkit-transform: translateY(1000px) translateX(1000px);
              transform: translateY(1000px) translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-br {
    0% {
      -webkit-transform: translateY(1000px) translateX(1000px);
              transform: translateY(1000px) translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slide-in-bl {
    0% {
      -webkit-transform: translateY(1000px) translateX(-1000px);
              transform: translateY(1000px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bl {
    0% {
      -webkit-transform: translateY(1000px) translateX(-1000px);
              transform: translateY(1000px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }