#date_frame{
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    height: 200px;
    justify-content: space-evenly;
}

#today{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#today__day{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

#today__time{
    font-size: 18px;
    font-weight: 600;
    
}

#clock{
    font-size: 50px;
    font-weight: 600;
}
