#login-form,
#greetings{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#login-form input{
    border: none;
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0;
    animation: puff-in-center 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
    animation-delay: 0.6s;
}

#login-form input::placeholder{
    transition: opacity 0.3s ease-in-out;
    color: rgb(100,100,100);
}

#login-form input:focus::placeholder{
    opacity: 0.3;
}

#login-form button{
    border: none;
    font-size: 25px;
    border-radius: 10%;
    padding: 10px 15px;
    color: rgb(140,140,140);
    opacity: 0;
    animation: fadeIn 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
    animation-delay: 1.2s;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

#login-form button:hover{
    transform: scale(1.1);
    color: rgb(180,180,180);
}


#greetings{
  font-size: 40px;
  text-align: center;
  opacity: 0;
  font-weight: 600;
  display: flex;
  padding: 13px 15px;
}

.greetingsAnimation{
    animation: fadeIn 1s ease-in-out forwards, greetingsAnimation 1s ease-in-out 2s forwards;
}