#login-form,
#greetings{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

#login-form input{
    border: none;
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0;
    animation: puff-in-center 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
    animation-delay: 0.6s;
}

#login-form input::placeholder{
    transition: opacity 0.3s ease-in-out;
    color: rgb(100,100,100);
}

#login-form input:focus::placeholder{
    opacity: 0.3;
}

#login-form button{
    border: none;
    font-size: 25px;
    border-radius: 10%;
    padding: 10px 15px;
    color: rgb(140,140,140);
    opacity: 0;
    animation: fadeIn 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
    animation-delay: 1.8s;
    transition: 0.1s ease-in-out;
}

#login-form button:hover{
    transform: scale(1.1);
    color: rgb(180,180,180);
}

@keyframes greetingsAnimation {
    0%{
        transform: translate(-50%, -50%);
    }
    100%{
        transform: translate(-50%, -380px);
    }
}

#greetings{
  font-size: 40px;
  text-align: center;
  opacity: 0;
  font-weight: 600;
  display: flex;
  padding: 13px 15px;
  background-color: rgba(215,215,215,0.2);
  border-radius: 10px;
  border: 1px solid rgb(215,215,215);
  box-shadow: 1px 1px 5px rgb(215,215,215);
}

.greetingsAnimation{
    animation: fadeIn 1s ease-in-out forwards, greetingsAnimation 1s ease-in-out 2s forwards;
}